/*Reset Styles*/

* {
	padding: 0px;
	margin: 0 auto;
	}
	
body {
	background: #B3E3FF;
	font-family: Lucida Grande,Arial,Verdana,sans-serif;
  font-size: 14px;
	}
	
h1 {
	font-family: 'Kreon', serif;
	font-weight: 300;
	font-size: 36px;
	color: #FFF;
	}
	
h5 {
	font-family: Lucida Grande, sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #B3E3FF;
	margin-top: 3px;
	}
	

	
/*Main Styles*/

#wrapper {
	width: 600px;
	margin: 0 auto;
	background: #FFF;
	border-radius: 7px;
	margin-top: 40px;
	margin-bottom: 100px;
	padding-bottom: 30px;
	}
	
#header {
	background: #167893; /* Old browsers */
	background-image: url(../images/header-bg.png);
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding-left: 40px;
	padding-bottom: 20px;
	}
	#header h1 {
		padding-top: 20px;
		}
		
fieldset {
	  background-color: #F5F5F5;
    border: 0 solid #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    margin: 60px 40px 20px;
    padding: 30px 40px;
    position: relative;
	}
	
legend {    
		color: #2F556A;
    display: block;
    float: left;
    font-family: 'Kreon',serif;
    font-size: 22px;
    font-weight: 100;
    margin: -70px 0 0 -45px;
    padding: 6px;
    position: relative;
	}
	
.circle {
		background-color: #52A3D4;
    border: 6px solid #FFFFFF;
    border-radius: 21px 21px 21px 21px;
    color: #FFFFFF;
    display: block;
    font-family: 'Kreon',serif;
    height: 29px;
    left: -55px;
    padding-top: 1px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px;
		}
		
.label-heading {
	margin-top: 20px;
	}
	
label {
	font-family: Lucida Grande, arial, Verdana, sans-serif;
	font-weight: regular;
	font-size: 12px;
	color: #666;
	display: block;
	}
	
.second-label {
	 color: #BBBBBB;
   font-size: 10px;
   font-weight: 600;
   line-height: 1.5em;
   margin-top: 5px;
	}
	
input {
	padding: 8px 10px;
  width: 95%;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 1px 0px #B4B4B4;
  -moz-box-shadow: inset 0px 1px 1px 0px #B4B4B4;
  box-shadow: inset 0px 1px 1px 0px #B4B4B4;
	border: none;
	font-size: 14px;
	display: block;
	}
	
/*Specific Styles*/

	
	fieldset.account h4 {
	font-family: Lucida Grande, sans-serif;
	font-weight: 400;
	font-size: 11px;
	color: #999;
	margin-top: -20px;
	margin-left: 40px;
	margin-bottom: 20px;
	}
	
select {
	 height: 26px;
   padding-top: 3px;
	}
		
input#cc {
	margin-right: 5px;
  width: 50%;
	float: left;
	}
	
input#sc {
	width: 15%;
	float: left;
	}
	
button {
		background: -moz-linear-gradient(center top , #90A933, #7B992B) repeat scroll 0 0 transparent;
    border: 1px solid #7B992B;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: block;
    font-family: 'Kreon',serif;
    font-size: 20px;
    font-weight: 100;
    margin: 30px auto 0;
    padding: 3px 15px;
		cursor: pointer;
	}
	
/*Cards*/

#mastercard_img {
    background-position: -144px -122px;
}
.credit_card_label {
    -moz-transition: all 0.2s ease 0s;
    background-image: url("../build/assets/images/sprite.png");
    cursor: pointer;
    display: block;
    float: right;
    height: 32px;
    margin: 15px 2px 2px 0;
    overflow: hidden;
    position: relative;
    text-indent: -9999px;
    width: 46px;
    z-index: 0;
}

.credit_card_radio {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#discover_img {
    background-position: -96px -122px;
}

#visa_img {
    background-position: -48px -122px;
}

#amex_img {
    background-position: 0 -122px;
}

#security_img_back {
    background-position: 0 -374px;
}
.security_img {
    background: url("../build/assets/images/sprite.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 32px;
    margin: 34px 273px 2px 0;
    overflow: hidden;
    text-indent: -9999px;
    width: 70px;
}


/*Clear*/

.clear {
	clear: both;
	}